-----------------
<footer class="footer" id="footer">
  <div class="footer-inner">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
      <div class="scrolltotop aem-GridColumn aem-GridColumn--default--12">
        <div
          class="scrollTo-height hide"
          data-height="0"
          id="scrollTo-height"
        ></div>

        <div class="scrolltop" style="display: block">
          <div class="scrolltop-btn">
            <p>Scroll To Top</p>
            <span>
              <img
                loading="lazy"
                src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/scrolltop-arrow.svg"
                alt="arrow"
              />
            </span>
          </div>
        </div>
      </div>
      <div class="customHTML aem-GridColumn aem-GridColumn--default--12">
        <style>
          .offer-section
            .left-content
            .offer-cards
            .offer-card
            .card-inner
            .content
            .title
            h1 {
            font-size: 18px !important;
            font-weight: 400 !important;
            height: 60px !important;
            overflow: hidden !important;
            margin: 0 0 10px 0;
          }
          .net-offer-section
            .section-inner
            .net-offer-cards
            .net-offer-card
            .content
            .top-content
            .title
            h1 {
            color: #4b4b4b;
            line-height: 138%;
            font-size: 18px;
            font-weight: 400;
          }
          .offer-card .card-inner .content .title h1 {
            display: block;
            text-decoration: none;
            font-size: 18px !important;
            line-height: 1.38;
            color: #4b4b4b;
            margin-bottom: 20px;
            outline: 0;
            height: 60px;
            overflow: hidden;
            font-weight: 400;
          }
          .offer-card .card-inner .content .title a h1 {
            display: block;
            text-decoration: none;
            font-size: 18px !important;
            line-height: 1.38;
            color: #f37e20;
            margin-bottom: 20px;
            outline: 0;
            height: 100px;
            overflow: hidden;
            font-weight: 400;
          }
          .offer-card .card-inner .content .title {
            display: block;
            text-decoration: none;
            font-size: 18px !important;
            line-height: 1.38;
            color: #4b4b4b;
            margin-bottom: 20px;
            outline: 0;
            height: 80px;
            overflow: hidden;
          }
          .offer-card .card-inner .content .title {
            display: block;
            text-decoration: none;
            font-size: 18px !important;
            line-height: 1.38;
            color: #4b4b4b;
            margin-bottom: 20px;
            outline: 0;
            height: auto !important;
            overflow: hidden;
          }
          .mlogo:nth-child(2) {
            display: block;
          }
        </style>
      </div>
      <div class="footerprimary aem-GridColumn aem-GridColumn--default--12">
        <div class="primary wow fadeInUp" style="visibility: visible">
          <div class="primary-inner">
            <h5 class="acc-label">Useful Links</h5>
            <ul class="acc-default">
              <li>
                <a
                  href="/find-atm-branch"
                  target="_blank"
                  data-app="/content/icicibank/in/en/find-atm-branch.html"
                  class="deeplinking"
                  >FIND ATM/BRANCH</a
                >
              </li>

              <li>
                <a
                  href="https://www.icicibank.com/online-safe-banking/report-unauthorized-transaction.page?ITM=nli_cms_report_unauthorized_transaction_footer_link"
                  target="_self"
                  data-app="https://www.icicibank.com/online-safe-banking/report-unauthorized-transaction.page?ITM=nli_cms_report_unauthorized_transaction_footer_link"
                  class="deeplinking"
                  >REPORT UNAUTHORIZED TRANSACTION</a
                >
              </li>

              <li>
                <a
                  href="https://www.icicibank.com/form-center.page?ITM=nli_cms_download_forms_footer_link"
                  target="_self"
                  data-app="https://www.icicibank.com/form-center.page?ITM=nli_cms_download_forms_footer_link"
                  class="deeplinking"
                  >DOWNLOAD FORMS</a
                >
              </li>

              <li>
                <a
                  href="https://www.icicibank.com/Personal-Banking/faq/internet-banking/frequently-asked-questions.page?ITM=nli_cms_FAQ_footer_link"
                  target="_self"
                  data-app="https://www.icicibank.com/Personal-Banking/faq/internet-banking/frequently-asked-questions.page?ITM=nli_cms_FAQ_footer_link"
                  class="deeplinking"
                  >FAQS</a
                >
              </li>

              <li>
                <a
                  href="https://www.icicibank.com/contact-us/contact-us.page?ITM=nli_cms_get_in_touch_footer_link"
                  target="_self"
                  data-app="https://www.icicibank.com/contact-us/contact-us.page?ITM=nli_cms_get_in_touch_footer_link"
                  class="deeplinking"
                  >GET IN TOUCH</a
                >
              </li>

              <li>
                <a
                  href="https://nli.icicibank.com/NewRetailWeb/ccpStackAuth.htm?ITM=nli_cms_ccp_footer_links"
                  target="_blank"
                  data-app="https://nli.icicibank.com/NewRetailWeb/ccpStackAuth.htm?ITM=nli_cms_ccp_footer_links"
                  data-app-android="https://nli.icicibank.com/NewRetailWeb/ccpStackAuth.htm?ITM=nli_cms_ccp_footer_links"
                  data-app-ios="https://nli.icicibank.com/NewRetailWeb/ccpStackAuth.htm?ITM=nli_cms_ccp_footer_links"
                  class="deeplinking"
                  >Customer Conversation Platform</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div
        class="footergroupselector aem-GridColumn aem-GridColumn--default--12"
      >
        <div class="websites-list wow fadeInUp" style="visibility: visible">
          <div class="logo">
            <a target="_self"
              ><img
                loading="lazy"
                class="logo"
                src="/content/dam/icicibank/icici-assets/footer-logo.png"
                alt="ICICI LOGO"
            /></a>
          </div>
          <div
            class="list-of-websites wow fadeInUp"
            style="visibility: visible"
          >
            <span>ICICI Bank Group websites</span>
            <select
              name="Group websites"
              id="group-websites1"
              style="display: none"
            >
              <option>Select Websites</option>

              <option value="https://www.icicifoundation.org/">
                ICICI Foundation
              </option>

              <option value="https://www.icicilombard.com/">
                ICICI Lombard General Insurance
              </option>

              <option value="https://www.iciciprulife.com/">
                ICICI Prudential Life Insurance
              </option>

              <option value="https://www.icicipruamc.com/">
                ICICI Prudential AMC
              </option>

              <option value="https://www.iciciventure.com/">
                ICICI Venture
              </option>

              <option value="https://www.icicidirect.com/">ICICI Direct</option>

              <option value="https://www.icicisecuritiespd.com/">
                ICICI Securities Primary Dealership Ltd
              </option>

              <option value="https://www.icicihfc.com/">
                ICICI Home Finance
              </option>

              <option value="https://www.icicicareers.com/Website/default.aspx">
                Careers
              </option></select
            ><span
              tabindex="0"
              id="group-websites1-button"
              role="combobox"
              aria-expanded="false"
              aria-autocomplete="list"
              aria-owns="group-websites1-menu"
              aria-haspopup="true"
              class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"
              ><span
                class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"
              ></span
              ><span class="ui-selectmenu-text">Select Websites</span></span
            >
          </div>
          <div class="list-of-websites">
            <span> ICICI Bank Country Websites</span>
            <select
              class="Other Country-Specific-Bank-Website"
              name="Group websites"
              id="group-websites2"
              style="display: none"
            >
              <option>Select country</option>

              <option value="https://www.giftcity.icicibank.com">
                Gift City India
              </option>

              <option value="https://www.icicibankbahrain.com">Bahrain</option>

              <option value="https://www.icicibank.ca/">Canada</option>

              <option value="https://shanghaibranch.icicibank.com/">
                China
              </option>

              <option value="https://www.money2india.eu/">Europe</option>

              <option value="https://www.icicibank.de/">Germany</option>

              <option
                value="https://www.icicibank.hk/?ITM=nli_cms_contact_us_contactus_menu_navigation"
              >
                HongKong
              </option>

              <option value="https://www.icicibank.com.sg/">Singapore</option>

              <option value="https://www.icicibank.co.uk">UK</option>

              <option value="https://www.icicibankusa.com/">US</option>

              <option
                value="https://www.icicibank.ae/?utm_source=RIB&amp;utm_medium=RIBCountryLink&amp;utm_campaign=DIFCUAE"
              >
                DIFC – UAE
              </option></select
            ><span
              tabindex="0"
              id="group-websites2-button"
              role="combobox"
              aria-expanded="false"
              aria-autocomplete="list"
              aria-owns="group-websites2-menu"
              aria-haspopup="true"
              class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"
              ><span
                class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"
              ></span
              ><span class="ui-selectmenu-text">Select country</span></span
            >
          </div>
        </div>
      </div>
      <div class="footersecondary aem-GridColumn aem-GridColumn--default--12">
        <div class="secondary wow fadeInUp" style="visibility: visible">
          <div class="top-menu-list-wrapper clearfix">
            <div class="menu-group">
              <div class="menu-list wow fadeInUp" style="visibility: visible">
                <h5 class="label acc-label">EXPLORE</h5>
                <ul class="acc-default">
                  <li>
                    <a
                      href="https://www.icicibank.com/aboutus/invest-relations.page?ITM=nli_cms_investor_relations_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/aboutus/invest-relations.page?ITM=nli_cms_investor_relations_footer_link"
                      class="deeplinking"
                      >Investor Relations</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/regulatory-disclosure.page?ITM=nli_cms_regulatory_disclosure_section_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/regulatory-disclosure.page?ITM=nli_cms_regulatory_disclosure_section_footer_link"
                      class="deeplinking"
                      >Regulatory Disclosure Section</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/online-safe-banking/index.page?ITM=nli_cms_safe_banking_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/online-safe-banking/index.page?ITM=nli_cms_safe_banking_footer_link"
                      class="deeplinking"
                      >Safe Banking</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/disclaimer/rbi-footer.html?ITM=nli_cms_RBI_kehta_hai_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/disclaimer/rbi-footer.html?ITM=nli_cms_RBI_kehta_hai_footer_link"
                      class="deeplinking"
                      >RBI Kehta Hai</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/disclaimer/rib.html?ITM=nli_cms_RBI_beware_fictitious_offers_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/disclaimer/rib.html?ITM=nli_cms_RBI_beware_fictitious_offers_footer_link"
                      class="deeplinking"
                      >RBI: Beware of Fictitious Offers</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://money2india.icicibank.com/usa/registration/individual"
                      target="_blank"
                      data-app="https://money2india.icicibank.com/usa/registration/individual"
                      class="deeplinking"
                      >Money Transfer to India</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/Personal-Banking/insta-banking/internet-banking/index.page?ITM=nli_cms_internet_banking_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/Personal-Banking/insta-banking/internet-banking/index.page?ITM=nli_cms_internet_banking_footer_link"
                      class="deeplinking"
                      >Internet Banking</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/mobile-banking/index.page?ITM=nli_cms_mobile_banking_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/mobile-banking/index.page?ITM=nli_cms_mobile_banking_footer_link"
                      class="deeplinking"
                      >Mobile Banking</a
                    >
                  </li>
                </ul>
              </div>

              <div class="menu-list wow fadeInUp" style="visibility: visible">
                <h5 class="label acc-label">AWARDS</h5>
                <ul class="acc-default">
                  <li>
                    <a
                      href="https://www.icicibank.com/aboutus/awards.page"
                      target="_self"
                      data-app="https://www.icicibank.com/aboutus/awards.page"
                      class="deeplinking"
                      >2023</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="menu-list wow fadeInUp" style="visibility: visible">
              <h5 class="label acc-label">POPULAR PRODUCTS</h5>
              <ul class="acc-default">
                <li>
                  <a
                    href="https://www.icicibank.com/Personal-Banking/account-deposit/savings-account/index.page?ITM=nli_cms_SA_savings_account_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/Personal-Banking/account-deposit/savings-account/index.page?ITM=nli_cms_SA_savings_account_footer_link"
                    class="deeplinking"
                  >
                    Savings Accounts</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/business-banking/current-account/index.page?ITM=nli_cms_CA_current_account_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/business-banking/current-account/index.page?ITM=nli_cms_CA_current_account_footer_link"
                    data-app-ios="#"
                    class="deeplinking"
                    >Current Accounts</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/card/credit-cards/credit-card.page?ITM=nli_cms_CC_credit_card_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/card/credit-cards/credit-card.page?ITM=nli_cms_CC_credit_card_footer_link"
                    data-app-ios="#"
                    class="deeplinking"
                    >Credit Cards</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/Personal-Banking/loans/home-loan/index.page?ITM=nli_cms_HL_home_loan_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/Personal-Banking/loans/home-loan/index.page?ITM=nli_cms_HL_home_loan_footer_link"
                    data-app-android="#"
                    data-app-ios="#"
                    class="deeplinking"
                    >Home Loan</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/Personal-Banking/loans/personal-loan/index.page?ITM=nli_cms_PL_personal_loan_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/Personal-Banking/loans/personal-loan/index.page?ITM=nli_cms_PL_personal_loan_footer_link"
                    data-app-ios="#"
                    class="deeplinking"
                    >Personal Loan</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/Personal-Banking/loans/car-loan/index.page?ITM=nli_cms_CL_car_loan_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/Personal-Banking/loans/car-loan/index.page?ITM=nli_cms_CL_car_loan_footer_link"
                    class="deeplinking"
                    >Car Loan</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/Personal-Banking/loans/gold-loan/index.page?ITM=nli_cms_GL_gold_loan_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/Personal-Banking/loans/gold-loan/index.page?ITM=nli_cms_GL_gold_loan_footer_link"
                    class="deeplinking"
                    >Gold Loan</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/Personal-Banking/account-deposit/fixed-deposit/index.page?ITM=nli_cms_FD_fixed_deposit_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/Personal-Banking/account-deposit/fixed-deposit/index.page?ITM=nli_cms_FD_fixed_deposit_footer_link"
                    class="deeplinking"
                    >Fixed Deposit</a
                  >
                </li>
              </ul>
            </div>

            <div class="menu-list wow fadeInUp" style="visibility: visible">
              <h5 class="label acc-label">Calculators</h5>
              <ul class="acc-default">
                <li>
                  <a
                    href="https://www.icicibank.com/calculator/personal-loan-emi-calculator.page?ITM=nli_cms_PL_EMI_calculator_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/calculator/personal-loan-emi-calculator.page?ITM=nli_cms_PL_EMI_calculator_footer_link"
                    class="deeplinking"
                    >Personal Loan EMI Calculator</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/calculator/car-loan-emi-calculator.page?ITM=nli_cms_CL_EMI_calculator_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/calculator/car-loan-emi-calculator.page?ITM=nli_cms_CL_EMI_calculator_footer_link"
                    class="deeplinking"
                    >Car Loan EMI Calculator</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/calculator/two-wheeler-loan-emi-calculator.page?ITM=nli_cms_TWL_EMI_calculator_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/calculator/two-wheeler-loan-emi-calculator.page?ITM=nli_cms_TWL_EMI_calculator_footer_link"
                    class="deeplinking"
                    >Two Wheeler EMI Calculator</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/calculator/home-loan-emi-calculator.page?ITM=nli_cms_HL_EMI_calculator_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/calculator/home-loan-emi-calculator.page?ITM=nli_cms_HL_EMI_calculator_footer_link"
                    class="deeplinking"
                    >Home Loan EMI Calculator</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/calculator/rd-calculator.page?ITM=nli_cms_RD_EMI_calculator_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/calculator/rd-calculator.page?ITM=nli_cms_RD_EMI_calculator_footer_link"
                    class="deeplinking"
                    >Recurring Deposit EMI Calculator</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/calculator/fd-calculator.page?ITM=nli_cms_FD_EMI_calculator_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/calculator/fd-calculator.page?ITM=nli_cms_FD_EMI_calculator_footer_link"
                    class="deeplinking"
                    >Fixed Deposit EMI Calculator</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/calculator/index.page?ITM=nli_cms_more_calculators_footer_link"
                    target="_self"
                    data-app="https://www.icicibank.com/calculator/index.page?ITM=nli_cms_more_calculators_footer_link"
                    class="deeplinking"
                    >More Calculators</a
                  >
                </li>
              </ul>
            </div>

            <div class="menu-group">
              <div class="menu-list wow fadeInUp" style="visibility: visible">
                <h5 class="label acc-label">OTHERS</h5>
                <ul class="acc-default">
                  <li>
                    <a
                      href="https://www.icicibank.com/customer-care.page?ITM=nli_cms_customer_care_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/customer-care.page?ITM=nli_cms_customer_care_footer_link"
                      class="deeplinking"
                      >Customer Care</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://nli.icicibank.com/NewRetailWeb/loadInoperativeAccounts.htm?ITM=nli_cms_%20unclaimed_accountsfooter_link&amp;_gl=1*1pmeqif*_ga*MTM1ODU5MzMzNy4xNjI4MjY0MDA4*_ga_SKB78GHTFV*MTYyOTEyNzM0MC45LjEuMTYyOTEyODQ4MS41NA..&amp;_ga=2.237137925.467109746.1629089955-1358593337.1628264008"
                      target="_self"
                      data-app="https://nli.icicibank.com/NewRetailWeb/loadInoperativeAccounts.htm?ITM=nli_cms_%20unclaimed_accountsfooter_link&amp;_gl=1*1pmeqif*_ga*MTM1ODU5MzMzNy4xNjI4MjY0MDA4*_ga_SKB78GHTFV*MTYyOTEyNzM0MC45LjEuMTYyOTEyODQ4MS41NA..&amp;_ga=2.237137925.467109746.1629089955-1358593337.1628264008"
                      class="deeplinking"
                      >List of Unclaimed Accounts</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/form-center.page?ITM=nli_cms_form_center_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/form-center.page?ITM=nli_cms_form_center_footer_link"
                      class="deeplinking"
                      >Form center</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/notice-board.page?ITM=nli_cms_notice_board_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/notice-board.page?ITM=nli_cms_notice_board_footer_link"
                      class="deeplinking"
                      >Notice Board</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/aboutus/news.page?ITM=nli_cms_news_room_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/aboutus/news.page?ITM=nli_cms_news_room_footer_link"
                      class="deeplinking"
                      >News Room</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://leads.icicibank.com/NewSalesWeb/odrMenu.htm?ITM=nli_cms_online_dispute_footer_link&amp;_gl=1*1rfc7i8*_ga*NjgwODc0NDQ2LjE2NDI1Mjg0ODY.*_ga_SKB78GHTFV*MTY0Mjc1OTE0OC42MC4xLjE2NDI3NTk5MjkuNTg."
                      target="_self"
                      data-app="https://leads.icicibank.com/NewSalesWeb/odrMenu.htm?ITM=nli_cms_online_dispute_footer_link&amp;_gl=1*1rfc7i8*_ga*NjgwODc0NDQ2LjE2NDI1Mjg0ODY.*_ga_SKB78GHTFV*MTY0Mjc1OTE0OC42MC4xLjE2NDI3NTk5MjkuNTg."
                      class="deeplinking"
                      >Online Assist</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/feedback.page?ITM=nli_cms_compliments_complaintsfooter_link"
                      target="_self"
                      data-app="https://www.icicibank.com/feedback.page?ITM=nli_cms_compliments_complaintsfooter_link"
                      class="deeplinking"
                      >Compliments and Complaints</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/sitemap.page?ITM=nli_cms_site_map_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/sitemap.page?ITM=nli_cms_site_map_footer_link"
                      class="deeplinking"
                      >Site map</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/aboutus/about-us.page?ITM=nli_cms_about_us_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/aboutus/about-us.page?ITM=nli_cms_about_us_footer_link"
                      class="deeplinking"
                      >About Us</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/get-account-activated.page?"
                      target="_self"
                      data-app="https://www.icicibank.com/get-account-activated.page?"
                      data-app-android="https://www.icicibank.com/get-account-activated.page?"
                      data-app-ios="https://www.icicibank.com/get-account-activated.page?"
                      class="deeplinking"
                      >Account activation process</a
                    >
                  </li>

                  <li>
                    <a
                      href="/content/dam/icicibank/india/managed-assets/revamp/customer-education-literature-on-smairac-norms.pdf"
                      target="_blank"
                      data-app="/content/dam/icicibank/india/managed-assets/revamp/customer-education-literature-on-smairac-norms.pdf"
                      data-app-android="/content/dam/icicibank/india/managed-assets/revamp/customer-education-literature-on-smairac-norms.pdf"
                      data-app-ios="/content/dam/icicibank/india/managed-assets/revamp/customer-education-literature-on-smairac-norms.pdf"
                      class="deeplinking"
                      >Customer Literature on NPAs and SMAs</a
                    >
                  </li>
                </ul>
              </div>

              <div class="menu-list wow fadeInUp" style="visibility: visible">
                <h5 class="label acc-label">INITIATIVES</h5>
                <ul class="acc-default">
                  <li>
                    <a
                      href="https://www.icicibank.com/Personal-Banking/debt-service/index.page?ITM=nli_cms_debit_services_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/Personal-Banking/debt-service/index.page?ITM=nli_cms_debit_services_footer_link"
                      class="deeplinking"
                      >Debt Service</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/blogs"
                      target="_self"
                      data-app="https://www.icicibank.com/blogs"
                      data-app-android="https://www.icicibank.com/blogs"
                      data-app-ios="https://www.icicibank.com/blogs"
                      class="deeplinking"
                      >Blogs</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/blogs"
                      target="_self"
                      data-app="https://www.icicibank.com/blogs"
                      data-app-android="https://www.icicibank.com/blogs"
                      data-app-ios="https://www.icicibank.com/blogs"
                      class="deeplinking"
                      >The Orange Book</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="menu-group">
              <div class="menu-list wow fadeInUp" style="visibility: visible">
                <h5 class="label acc-label">RATES AND CHARGES</h5>
                <ul class="acc-default">
                  <li>
                    <a
                      href="https://www.icicibank.com/interest-rates.page?ITM=nli_cms_intrest_rate_footer_link"
                      target="_self"
                      data-app="https://www.icicibank.com/interest-rates.page?ITM=nli_cms_intrest_rate_footer_link"
                      class="deeplinking"
                      >Interest Rates</a
                    >
                  </li>

                  <li>
                    <a
                      href="https://www.icicibank.com/interest-rates.page"
                      target="_self"
                      data-app="https://www.icicibank.com/interest-rates.page"
                      class="deeplinking"
                      >Service Charges and Fees</a
                    >
                  </li>
                </ul>
              </div>

              <div
                class="social-media-links wow fadeInUp"
                style="visibility: visible"
              >
                <h5 class="label">GET SOCIAL</h5>
                <ul>
                  <li>
                    <a href="https://www.facebook.com/icicibank" target="_self"
                      ><span class="n-icon"
                        ><img
                          loading="lazy"
                          src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/facebook.svg"
                          alt="facebook"
                      /></span>
                      <span class="h-icon"
                        ><img
                          loading="lazy"
                          src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/facebook-o.svg"
                          alt="facebook" /></span
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/icicibank" target="_self"
                      ><span class="n-icon"
                        ><img
                          loading="lazy"
                          src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/twitter.svg"
                          alt="twitter"
                      /></span>
                      <span class="h-icon"
                        ><img
                          loading="lazy"
                          src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/twitter-o.svg"
                          alt="twitter" /></span
                    ></a>
                  </li>
                  <li>
                    <a
                      href="https://in.linkedin.com/company/icici-bank"
                      target="_self"
                      ><span class="n-icon"
                        ><img
                          loading="lazy"
                          src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/linkedin.svg"
                          alt="linkedin"
                      /></span>
                      <span class="h-icon"
                        ><img
                          loading="lazy"
                          src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/linkedin-o.svg"
                          alt="linkedin" /></span
                    ></a>
                  </li>
                  <li target="_self">
                    <a
                      href="https://www.youtube.com/user/icicibank"
                      target="_self"
                      ><span class="n-icon"
                        ><img
                          loading="lazy"
                          src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/youtube.svg"
                          alt="youtube"
                      /></span>
                      <span class="h-icon"
                        ><img
                          loading="lazy"
                          src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/youtube-o.svg"
                          alt="youtube" /></span
                    ></a>
                  </li>
                </ul>
              </div>
              <div
                class="app-store-links wow fadeInUp"
                style="visibility: visible; animation-name: fadeInUp"
              >
                <h5 class="label">DOWNLOAD IMOBILE PAY</h5>
                <ul>
                  <li>
                    <a
                      href="https://apps.apple.com/in/app/imobile-by-icici-bank/id375276006"
                      target="_self"
                      ><img
                        loading="lazy"
                        src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/app_store_white.png"
                        alt="App Store"
                    /></a>
                  </li>
                  <li>
                    <a
                      href="https://play.google.com/store/apps/details?id=com.csam.icici.bank.imobile&amp;hl=en_IN"
                      target="_self"
                      ><img
                        loading="lazy"
                        src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/google_play_white.png"
                        alt="Google Play"
                    /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="bottom-menu-list-wrapper clearfix">
            <div class="menu-links wow fadeInUp" style="visibility: visible">
              <h5 class="label acc-label"></h5>
              <h5>Statutory Links</h5>

              <ul class="acc-default">
                <li>
                  <a
                    href="https://www.icicibank.com/terms-condition/terms-and-conditions.page?"
                    target="_self"
                    >Terms and conditions</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/do-not-call.page?"
                    target="_self"
                    >Do Not Call Registry</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/disclaimer.page?"
                    target="_self"
                    >Disclaimer</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/multilingual-disclaimer.page?"
                    target="_self"
                    >Multilingual Disclaimer</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/code-of-commitment.page?"
                    target="_self"
                    >Code of Commitment</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/managed-assets/docs/personal/general-links/code_of_business_conduct_ethics.pdf"
                    target="_self"
                    >Group Code of Business Conduct and Ethics</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/customer-service-policies.page?"
                    target="_self"
                    >Customer Service Policies</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/unparliamentary-language-by-customers.page?"
                    target="_self"
                    >Use of Unparliamentary Language by Customers</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/privacy.page?"
                    target="_self"
                    >Privacy</a
                  >
                </li>

                <li>
                  <a
                    href="https://www.icicibank.com/usa-patriot-act-certification.page?"
                    target="_self"
                    >Fair Practice Code for Lenders</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="copy-right-row clearfix wow fadeInUp"
          style="visibility: visible"
        >
          <p>Copyright© 2023 . All rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
