<p>home-loan works!</p>

<div _ngcontent-uck-c2="" class="color">
  <h1 _ngcontent-uck-c2="" class="ng-tns-c2-1">Home Loan Application</h1>
</div>

<section _ngcontent-uck-c2="" class="btm-card-section">
  <p _ngcontent-uck-c2="" class="text-justify mt-3">
    Buying one’s own home is a dream come true.
  </p>
  <p _ngcontent-uck-c2="" class="ng-tns-c2-1">
    We understand what it means for you to own your dream home. We are there to
    assist you at every step of your Home Loan process.
  </p>
  <p _ngcontent-uck-c2="" class="ng-tns-c2-1">
    At ICICI Bank, we have made the Home Loan application process extremely
    simple for both existing and non-existing customers.
  </p>
</section>

<section _ngcontent-uck-c2="" class="btm-card-section">
  <div _ngcontent-uck-c2="" class="subtitle mt-2">Existing Customer</div>
  <p _ngcontent-uck-c2="" class="ng-tns-c2-1">
    As an existing customer, you can log in with registered ICICI Bank details
    and raise a Home Loan request in four simple steps:
  </p>
  <div
    _ngcontent-uck-c2=""
    class="d-none d-sm-none d-md-block d-lg-block d-xl-block"
  >
    <div _ngcontent-uck-c2="" class="row mt-4">
      <div
        _ngcontent-uck-c2=""
        class="col-3 col-sm-3 col-md-3 col-lg-3 imgs-row"
      >
        <div _ngcontent-uck-c2="" class="circle-img-verify">
          <img
            _ngcontent-uck-c2=""
            class="icon-img-verify"
            src="assets/Images/landing_page/shield.svg"
          />
        </div>
      </div>
      <div
        _ngcontent-uck-c2=""
        class="col-3 col-sm-3 col-md-3 col-lg-3 imgs-row"
      >
        <div _ngcontent-uck-c2="" class="circle-img-offer">
          <img
            _ngcontent-uck-c2=""
            class="icon-img-offer"
            src="assets/Images/landing_page/offer.svg"
          />
        </div>
      </div>
      <div
        _ngcontent-uck-c2=""
        class="col-3 col-sm-3 col-md-3 col-lg-3 imgs-row"
      >
        <div _ngcontent-uck-c2="" class="circle-img-payment">
          <img
            _ngcontent-uck-c2=""
            class="icon-img-payment"
            src="assets/Images/landing_page/wallet.svg"
          />
        </div>
      </div>
      <div
        _ngcontent-uck-c2=""
        class="col-3 col-sm-3 col-md-3 col-lg-3 imgs-row"
      >
        <div _ngcontent-uck-c2="" class="circle-img-payment">
          <img
            _ngcontent-uck-c2=""
            class="icon-img-payment"
            src="assets/Images/landing_page/noun_Registration_1185822.svg"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    _ngcontent-uck-c2=""
    class="d-none d-sm-none d-md-block d-lg-block d-xl-block mt-4"
  >
    <div _ngcontent-uck-c2="" class="row">
      <div _ngcontent-uck-c2="" class="col-3 col-sm-3 col-md-3 col-lg-3">
        <img
          _ngcontent-uck-c2=""
          class="dot-circle"
          src="assets/Images/landing_page/Ellipse 118.svg"
        />
        <div _ngcontent-uck-c2="" class="dot"></div>
        <div _ngcontent-uck-c2="" class="clearfix"></div>
        <small _ngcontent-uck-c2="" class="ng-tns-c2-1">Verify Account</small>
      </div>
      <div _ngcontent-uck-c2="" class="col-3 col-sm-3 col-md-3 col-lg-3">
        <img
          _ngcontent-uck-c2=""
          class="dot-circle"
          src="assets/Images/landing_page/Ellipse 119.svg"
        />
        <div _ngcontent-uck-c2="" class="dot"></div>
        <div _ngcontent-uck-c2="" class="clearfix"></div>
        <small _ngcontent-uck-c2="" class="ng-tns-c2-1">Check Offer</small>
      </div>
      <div _ngcontent-uck-c2="" class="col-3 col-sm-3 col-md-3 col-lg-3">
        <img
          _ngcontent-uck-c2=""
          class="dot-circle"
          src="assets/Images/landing_page/Ellipse 120.svg"
        />
        <div _ngcontent-uck-c2="" class="dot"></div>
        <div _ngcontent-uck-c2="" class="clearfix"></div>
        <small _ngcontent-uck-c2="" class="ng-tns-c2-1"> Make Payment</small>
      </div>
      <div _ngcontent-uck-c2="" class="col-3 col-sm-3 col-md-3 col-lg-3">
        <img
          _ngcontent-uck-c2=""
          class="dot-circle"
          src="assets/Images/landing_page/Ellipse 120.svg"
        />
        <div _ngcontent-uck-c2="" class="clearfix"></div>
        <small _ngcontent-uck-c2="" class="ng-tns-c2-1"
          >Get Sanction Letter</small
        >
      </div>
    </div>
  </div>
  <div
    _ngcontent-uck-c2=""
    class="d-block d-sm-block d-md-none d-lg-none d-xl-none text-center"
  >
    <img
      _ngcontent-uck-c2=""
      class="img-fluid"
      src="assets/Images/landing_page/Group 1546.svg"
    />
  </div>
  <a _ngcontent-uck-c2="" class="row m-0 apply-now-link">Apply Now</a>
  <p _ngcontent-uck-c2="" class="text-justify mt-4">
    What’s more, if you are eligible for a pre-approved offer, you can get
    instant loan sanction with no documentation. Added benefits include,
    attractive interest rate, low EMI and simplified loan application and
    disbursement process.
  </p>
</section>

<section _ngcontent-uck-c2="" class="btm-card-section">
  <div _ngcontent-uck-c2="" class="subtitle">New Customer</div>
  <p _ngcontent-uck-c2="" class="text-justify">
    If you are new to Bank, then just submit the basic details along with your
    loan requirement.
  </p>
  <p _ngcontent-uck-c2="" class="text-justify">
    The process involves the following steps:
  </p>
  <div
    _ngcontent-uck-c2=""
    class="d-none d-sm-none d-md-block d-lg-block d-xl-block"
  >
    <div _ngcontent-uck-c2="" class="row mt-4">
      <div _ngcontent-uck-c2="" class="col imgs-row">
        <div _ngcontent-uck-c2="" class="circle-img-details">
          <img
            _ngcontent-uck-c2=""
            class="icon-img-verify"
            src="assets/Images/landing_page/resume.svg"
          />
        </div>
      </div>
      <div _ngcontent-uck-c2="" class="col imgs-row">
        <div _ngcontent-uck-c2="" class="circle-img-offer2">
          <img
            _ngcontent-uck-c2=""
            class="icon-img-offer"
            src="assets/Images/landing_page/offer.svg"
          />
        </div>
      </div>
      <div _ngcontent-uck-c2="" class="col imgs-row">
        <div _ngcontent-uck-c2="" class="circle-img-payment2">
          <img
            _ngcontent-uck-c2=""
            class="icon-img-payment"
            src="assets/Images/landing_page/wallet.svg"
          />
        </div>
      </div>
      <div _ngcontent-uck-c2="" class="col imgs-row">
        <div _ngcontent-uck-c2="" class="circle-img-upload">
          <img
            _ngcontent-uck-c2=""
            class="icon-img-payment"
            src="assets/Images/landing_page/noun_Approve_2284545.svg"
          />
        </div>
      </div>
      <div _ngcontent-uck-c2="" class="col imgs-row">
        <div _ngcontent-uck-c2="" class="circle-img-upload">
          <img
            _ngcontent-uck-c2=""
            class="icon-img-payment"
            src="assets/Images/landing_page/file (2).svg"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    _ngcontent-uck-c2=""
    class="d-none d-sm-none d-md-block d-lg-block d-xl-block mt-4"
  >
    <div _ngcontent-uck-c2="" class="row">
      <div _ngcontent-uck-c2="" class="col">
        <img
          _ngcontent-uck-c2=""
          class="dot-circle"
          src="assets/Images/landing_page/Ellipse 124.svg"
        />
        <div _ngcontent-uck-c2="" class="dot"></div>
        <div _ngcontent-uck-c2="" class="clearfix"></div>
        <small _ngcontent-uck-c2="" class="ng-tns-c2-1">Provide Details</small>
      </div>
      <div _ngcontent-uck-c2="" class="col">
        <img
          _ngcontent-uck-c2=""
          class="dot-circle"
          src="assets/Images/landing_page/Ellipse 127.svg"
        />
        <div _ngcontent-uck-c2="" class="dot"></div>
        <div _ngcontent-uck-c2="" class="clearfix"></div>
        <small _ngcontent-uck-c2="" class="ng-tns-c2-1">Check Offer</small>
      </div>
      <div _ngcontent-uck-c2="" class="col">
        <img
          _ngcontent-uck-c2=""
          class="dot-circle"
          src="assets/Images/landing_page/Ellipse 120.svg"
        />
        <div _ngcontent-uck-c2="" class="dot"></div>
        <div _ngcontent-uck-c2="" class="clearfix"></div>
        <small _ngcontent-uck-c2="" class="ng-tns-c2-1"> Make Payment</small>
      </div>
      <div _ngcontent-uck-c2="" class="col">
        <img
          _ngcontent-uck-c2=""
          class="dot-circle"
          src="assets/Images/landing_page/Ellipse 120.svg"
        />
        <div _ngcontent-uck-c2="" class="dot"></div>
        <div _ngcontent-uck-c2="" class="clearfix"></div>
        <small _ngcontent-uck-c2="" class="">Get Provisional Approval</small>
      </div>
      <div _ngcontent-uck-c2="" class="col">
        <img
          _ngcontent-uck-c2=""
          class="dot-circle"
          src="assets/Images/landing_page/Ellipse 120.svg"
        />
        <div _ngcontent-uck-c2="" class="clearfix"></div>
        <small _ngcontent-uck-c2="" class=""> Upload Documents</small>
      </div>
    </div>
  </div>
  <div
    _ngcontent-uck-c2=""
    class="d-block d-sm-block d-md-none d-lg-none d-xl-none text-center"
  >
    <img
      _ngcontent-uck-c2=""
      class="img-fluid"
      src="assets/Images/landing_page/Group 1547.svg"
    />
  </div>
  <a _ngcontent-uck-c2="" class="row m-0 apply-now-link">Apply Now</a>
  <p _ngcontent-uck-c2="" class="text-justify mt-4">
    Once you have successfully uploaded the documents, you can download
    provisional sanction letter in just a few minutes.
  </p>
  <h6 _ngcontent-uck-c2="" class="subtitle mt-5">
    Documents Required for Home Loan Application
  </h6>
  <a
    _ngcontent-uck-c2=""
    class="checklist-link"
    href="assets/external/login-checklist.html"
    target="_blank"
  >
    Click here to view important instructions and document list
  </a>
  <p _ngcontent-uck-c2="" class="text-justify">
    We have a minimal documentation requirement. You must submit:
  </p>
  <ul _ngcontent-uck-c2="" class="ng-tns-c2-1">
    <div _ngcontent-uck-c2="" class="content-title">For Resident Indian</div>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Proof of Identity (a copy of any one of these) : Aadhaar Card along with
      Aadhaar consent form / Passport / Driving License / Voter ID card
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Proof of Residence (a copy of any one of these): Aadhaar Card along with
      Aadhaar consent form / Passport / Driving License / Voter ID card /
      Electricity or Gas bill / Telephone Bill / Water bill
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">Photograph</li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Proof of Income : Salary slips of the last 3 months / Bank statement for
      the last six months where salary/income is credited / Latest Form
      16/Income Tax Returns
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">PAN Card</li>
  </ul>
  <ul _ngcontent-uck-c2="" class="ng-tns-c2-1">
    <div _ngcontent-uck-c2="" class="content-title">
      For Non-Resident Indian
    </div>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">Recent Photograph</li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">Copy of Passport</li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Proof of Address In India (a copy of any one of these) : Passport/Driving
      license / Voter ID Card /House Electricity Bill (not older than 2 months)
      / House Water bill (not older than 2 months) / House Landline Bill (not
      older than 2 months) / Post-paid mobile bill (not older than 2 months) /
      Property Tax Paid Receipt (Latest) / Registered sale deed or sale
      agreement / Rent/Lease Agreement (Latest)/ Masked Aadhaar Card(First 8
      digit should be Masked) along with Aadhaar consent form
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Proof of Overseas Residence (a copy of any one of these) : Passport /
      Rental Agreement with Latest utility bill / Driving license / National Id
      card with Address / Utility bill
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Proof of Income : Latest 3 months' salary slip with date of joining
      <br _ngcontent-uck-c2="" class="ng-tns-c2-1" />
      Latest 3 months' overseas bank statement in which salary credit
      reflecting<br _ngcontent-uck-c2="" class="ng-tns-c2-1" />
      Latest 3 months' NRE/NRO Bank statement from which repayment of loan will
      be done
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Latest Credit report with score
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Copy of PAN Card or form 60(if not having PAN)
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Latest Tax document(Example W2 in USA, P60 in UK)
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Valid Employment Visa/Work Permit/Residence Permit or Copy of OCI Card(if
      residency is OCI)
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Last 1 Year bank statement from where EMI is getting repaid or last 1 year
      loan statement
    </li>
  </ul>
  <p _ngcontent-uck-c2="" class="text-justify">
    To avoid delay in loan approval process, make sure to keep scanned copies of
    the document ready before you start the application.
  </p>
  <div _ngcontent-uck-c2="" class="subtitle mt-5">
    Features and Benefits of ICICI Bank Home Loans
  </div>
  <ul _ngcontent-uck-c2="" class="ng-tns-c2-1">
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Attractive interest rate with low EMI
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">Minimal Documentation</li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Digital application process
    </li>
    <li _ngcontent-uck-c2="" class="ng-tns-c2-1">
      Instant Sanction for Pre-approved Cases
    </li>
  </ul>
  <small _ngcontent-uck-c2="" class="mt-3">Terms and Conditions apply.</small
  ><br _ngcontent-uck-c2="" class="ng-tns-c2-1" /><br
    _ngcontent-uck-c2=""
    class="ng-tns-c2-1"
  />
  <div _ngcontent-uck-c2="" class="col-12 col-lg-7 p-0 disclaimer-consent">
    I hereby authorize ICICI Bank and its representatives to call, email,
    WhatsApp or SMS me regarding ICICI Bank's loans, its advantages &amp;
    offers. This consent will override any registration for NC/NDNC.
  </div>
</section>
