<div class="textbannercalculator">
  <div class="section banner-component">
    <div class="section-inner">
      <div class="banner-slider">
        <div class="banner-calculator">
          <div class="calculator-list">
            <div class="caluculator-list-inner">
              <div class="content">
                <div class="blue-text">
                  <h1 class="blue-text">Personal Loan</h1>
                </div>
                <div>
                  <p style="margin-bottom: 15px">
                    Personal Loan is an unsecured loan that caters to all your
                    financial needs such as travel, home renovation, applying
                    online courses, medical emergency or wedding. You can easily
                    apply for an ICICI Bank Personal Loan, online up to Rs 50
                    lakh depending upon your eligibility without any collateral
                    security.
                  </p>
                  <p>
                    With our
                    <a href="/calculator/personal-loan-emi-calculator"
                      >Personal Loan EMI calculator</a
                    >, you can also check the Personal Loan EMI that you are
                    entitled to pay every month. Also, with our instant Personal
                    Loan online services, you can get access to the funds within
                    3 seconds.
                  </p>
                  <p>&nbsp;</p>
                </div>
                <div class="button-group">
                  <a
                    href="https://buy.icicibank.com/ucj/personal?ius=KMOU29843KM&amp;iup=PL852452&amp;ITM=nli_cms_PL_indexpage_introcta_applynowbtn&amp;_gl=1*hedu6q*_ga*MTI3MjU5ODIwMC4xNjUxOTIwODc0*_ga_SKB78GHTFV*MTY1NjkzNDE4OS4yNDMuMS4xNjU2OTM3OTU3LjQx"
                    class="ic-btn"
                    target="_blank"
                    >APPLY FOR PERSONAL LOAN NOW</a
                  >
                </div>
              </div>
              <div class="calculator-right">
                <div class="loan-container-inner">
                  <h3 class="c-title">PERSONAL LOAN EMI CALCULATOR</h3>
                  <div class="row-1 row preapproved">
                    <div class="col-md-4 mb-20">
                      <label>Loan Amount</label>
                      <div class="select-loan-amt-personal">
                        <div class="loan-amt-personal-input d-flex">
                          <span class="font-18 fw-800 white-text mr-1">₹ </span>
                          <input
                            id="loan-amt-personal-input"
                            class="font-18 fw-800"
                            onfocusout='addCommas("loan-amt-personal-input")'
                            value="800000"
                            maxlength="9"
                            onkeypress="validateNumberAndDecimals()"
                          />
                        </div>
                        <div class="input-box">
                          <input
                            id="loan-amt-personal"
                            name="loan-amt-personal"
                            type="range"
                            max="5000000"
                            value="800000"
                            style="
                              background-image: -webkit-gradient(
                                linear,
                                0% 0%,
                                100% 0%,
                                color-stop(0.17, rgb(243, 126, 32)),
                                color-stop(0.17, rgb(75, 75, 75))
                              );
                            "
                          />
                        </div>
                        <div class="range-figures">
                          <ul>
                            <li><span>₹ 50,000</span></li>
                            <li><span>₹ 50,00,000</span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="error error-loan-amt-personal"></div>
                    </div>
                    <div class="col-md-4 mb-20">
                      <label>Tenure (months)</label>
                      <div class="select-tenure-months-personal">
                        <div class="tenure-months-personal-input">
                          <input
                            id="tenure-months-personal-input"
                            class="font-18 fw-800"
                            value="72"
                            maxlength="2"
                            onkeypress="validateNumberAndDecimals()"
                          />
                        </div>
                        <div class="input-box">
                          <input
                            id="tenure-months-personal"
                            name="tenure-months-personal"
                            type="range"
                            min="12"
                            value="72"
                            onchange="validateFormAndCalculatePersonal()"
                            max="21"
                            style="
                              background-image: -webkit-gradient(
                                linear,
                                0% 0%,
                                100% 0%,
                                from(rgb(243, 126, 32)),
                                from(rgb(75, 75, 75))
                              );
                            "
                          />
                        </div>
                        <div class="range-figures">
                          <ul>
                            <li><span>12 M</span></li>
                            <li><span>72 M</span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="error error-tenure-months-personal"></div>
                    </div>
                    <div class="col-md-4 mb-20">
                      <label>Interest Rate (In Percentage)</label>
                      <div class="select-interest-rate-personal">
                        <div class="interest-rate-personal-input">
                          <div class="text-in-line">
                            <input
                              id="interest-rate-personal-input"
                              class="font-18 fw-800"
                              value="5"
                              maxlength="5"
                              onkeypress="validateNumberAndDecimals()"
                            />
                          </div>
                        </div>
                        <div class="input-box">
                          <input
                            id="interest-rate-personal"
                            name="interest-rate-personal"
                            value="5"
                            type="range"
                            min="0"
                            onchange="validateFormAndCalculatePersonal()"
                            max="4001"
                            style="
                              background-image: -webkit-gradient(
                                linear,
                                0% 0%,
                                100% 0%,
                                color-stop(0.134969, rgb(243, 126, 32)),
                                color-stop(0.134969, rgb(75, 75, 75))
                              );
                            "
                          />
                        </div>
                        <div class="range-figures">
                          <ul>
                            <li><span>0% PA</span></li>
                            <li><span>20% PA</span></li>
                          </ul>
                        </div>
                      </div>
                      <div class="error error-interest-rate-personal"></div>
                    </div>
                  </div>
                  <div class="row-2 row number-holder align-items-center">
                    <div class="col-lg-6 col-md-6 mb-sm-20">
                      <div class="row light-brown">
                        <div class="col-md-6 mb-sm-20">
                          <label>EMI Amount</label>
                          <div class="text-in-line">
                            <p id="emi_amt_personal" class="fw-800">₹ 46,224</p>
                            <span class="font-30">*</span>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label>Interest Payable</label>
                          <div class="text-in-line">
                            <p id="interest_payable_personal">₹ 32,040</p>
                            <span class="font-30">*</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="btn-group">
                        <a
                          href="https://buy.icicibank.com/ucj/personal?ius=KMOU29843KM&amp;iup=PL852452&amp;ITM=nli_cms_PL_indexpage_calculatorcta_applynowbtn&amp;_gl=1*1yl4330*_ga*MTI3MjU5ODIwMC4xNjUxOTIwODc0*_ga_SKB78GHTFV*MTY1NjkzNDE4OS4yNDMuMS4xNjU2OTM4MzE1LjQx"
                          class="ic-btn"
                          target="_blank"
                          >APPLY NOW</a
                        >

                        <a
                          href="https://www.icicibank.com/Personal-Banking/loans/personal-loan/personal-loan-interest-rates.page"
                          class="ic-more"
                          target="_blank"
                        >
                          INTEREST RATES</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

-----------------

<div class="customHTML">
  <link
    rel="stylesheet"
    href="/content/dam/icicibank/india/managed-assets/css-js/css/personal-loan.css"
    type="text/css"
  />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      for (i = 0; i < 20.01; i = i + 0.01) {
        const val = parseFloat(i.toFixed(2)).toString();

        rangePersonal.push(val);
      }

      if (document.getElementById("interest-rate-personal")) {
        document.getElementById("interest-rate-personal").max =
          rangePersonal.length - 1;

        document.getElementById("interest-rate-personal").value =
          rangePersonal.indexOf("5");

        // $('#abc').val(rangePersonal.indexOf("15"));

        for (j = 12; j < 73; j = j + 6) {
          const val = parseFloat(j.toFixed(2)).toString();

          rangeTenurePersonal.push(val);
        }

        document.getElementById("tenure-months-personal").max =
          rangeTenurePersonal.length - 1;

        document.getElementById("tenure-months-personal").value =
          rangeTenurePersonal.indexOf("72");

        setOnRangeChange(
          "loan-amt-personal-input",
          "loan-amt-personal",
          validateFormAndCalculatePersonal
        );

        setOnRangeChange(
          "tenure-months-personal-input",
          "tenure-months-personal",
          validateFormAndCalculatePersonal,
          rangeTenurePersonal
        );

        setOnRangeChange(
          "interest-rate-personal-input",
          "interest-rate-personal",
          validateFormAndCalculatePersonal,
          rangePersonal
        );

        validateFormAndCalculatePersonal();
      }
    });
  </script>
</div>
-----------------

<div class="bftabs">
  <div class="benefit-tab-section">
    <div class="grey-bg">
      <div class="section-inner">
        <div class="section benefit-tab">
          <div class="sidebar-content">
            <div class="f-24 mb-20 bftabs">
              <h2 class="f-24 mb-20">
                Benefits and Features of a Personal Loan
              </h2>
            </div>

            <ul class="nav nav-tabs sb-nav" role="tablist">
              <li class="active">
                <a class="menu-item" href="#Nstrictiondsage" data-toggle="tab">
                  <span class="icon n-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/icici-assets/personal-banking/instant-account%20(1).svg"
                      alt="No restriction on fund usage"
                    />
                  </span>
                  <span class="icon a-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/icici-assets/personal-banking/instant-account%20(1).svg"
                      alt="No restriction on fund usage"
                    />
                  </span>
                  No restriction on fund usage
                </a>
              </li>

              <li>
                <a class="menu-item" href="#Instantapproval" data-toggle="tab">
                  <span class="icon n-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/india/managed-assets/images/online-services/exciting-offer.svg"
                      alt="Instant approval"
                    />
                  </span>
                  <span class="icon a-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/india/managed-assets/images/online-services/exciting-offer.svg"
                      alt="Instant approval"
                    />
                  </span>
                  Instant approval
                </a>
              </li>

              <li>
                <a class="menu-item" href="#FlexibleTenure" data-toggle="tab">
                  <span class="icon n-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/india/managed-assets/images/personal/rewards/we-make-feel%20(1).png"
                      alt="Flexible tenure"
                    />
                  </span>
                  <span class="icon a-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/india/managed-assets/images/personal/rewards/we-make-feel%20(1).png"
                      alt="Flexible tenure"
                    />
                  </span>
                  Flexible tenure
                </a>
              </li>

              <li>
                <a class="menu-item" href="#OnlineServices" data-toggle="tab">
                  <span class="icon n-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/icici-assets/personal-banking/secure-mobile-booking%20(1).svg"
                      alt="Online services"
                    />
                  </span>
                  <span class="icon a-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/icici-assets/personal-banking/secure-mobile-booking%20(1).svg"
                      alt="Online services"
                    />
                  </span>
                  Online services
                </a>
              </li>

              <li>
                <a class="menu-item" href="#MinimumDocuments" data-toggle="tab">
                  <span class="icon n-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/india/managed-assets/images/online-services/exciting-offer.svg"
                      alt="Minimum documents"
                    />
                  </span>
                  <span class="icon a-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/india/managed-assets/images/online-services/exciting-offer.svg"
                      alt="Minimum documents"
                    />
                  </span>
                  Minimum documents
                </a>
              </li>

              <li>
                <a class="menu-item" href="#FixedInterest" data-toggle="tab">
                  <span class="icon n-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/icici-assets/personal-banking/instant-account%20(1).svg"
                      alt="Fixed Interest"
                    />
                  </span>
                  <span class="icon a-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/icici-assets/personal-banking/instant-account%20(1).svg"
                      alt="Fixed Interest"
                    />
                  </span>
                  Fixed Interest
                </a>
              </li>

              <li>
                <a
                  class="menu-item"
                  href="#NoCollateralNeeded"
                  data-toggle="tab"
                >
                  <span class="icon n-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/india/managed-assets/images/online-services/exciting-offer.svg"
                      alt="No collateral needed"
                    />
                  </span>
                  <span class="icon a-icon">
                    <img
                      loading="lazy"
                      src="/content/dam/icicibank/india/managed-assets/images/online-services/exciting-offer.svg"
                      alt="No collateral needed"
                    />
                  </span>
                  No collateral needed
                </a>
              </li>
            </ul>
          </div>
          <div class="benefits-content tab-content">
            <div
              id="Nstrictiondsage"
              role="tabpanel"
              class="tab-pane active benefits-content-inner media-content"
            >
              <div class="content">
                <div class="content">
                  <h3>No restriction on fund usage</h3>
                  <p>
                    There is no restriction to using the funds; you can use the
                    money for paying your child’s education fees, meet wedding
                    expenses, buy an expensive lifestyle product, go on a
                    vacation etc. No matter what your purpose of applying for a
                    Personal Loan, you can get a loan of up to Rs 50 lakh.&nbsp;
                  </p>
                </div>
              </div>
              <div class="media"></div>
            </div>

            <div
              id="Instantapproval"
              role="tabpanel"
              class="tab-pane benefits-content-inner media-content"
            >
              <div class="content">
                <div class="content">
                  <h3>Instant approval</h3>
                  <p>
                    At ICICI Bank, we ensure that you have a stress-free
                    borrowing experience. Once approved, the funds are credited
                    in your account within&nbsp;three seconds.&nbsp;
                  </p>
                </div>
              </div>
              <div class="media"></div>
            </div>

            <div
              id="FlexibleTenure"
              role="tabpanel"
              class="tab-pane benefits-content-inner media-content"
            >
              <div class="content">
                <div class="content">
                  <h3>Flexible tenure</h3>
                  <p>
                    We give you the flexibility to choose the loan tenure; you
                    can apply for a loan from 12 to 72 months, as per your
                    repayment capacity.
                  </p>
                </div>
              </div>
              <div class="media"></div>
            </div>

            <div
              id="OnlineServices"
              role="tabpanel"
              class="tab-pane benefits-content-inner media-content"
            >
              <div class="content">
                <div class="content">
                  <h3>Online services</h3>
                  <p>
                    At ICICI Bank, we have a seamless Personal Loan application
                    process, and your loan application is granted with just a
                    few clicks. You would need to give your location address and
                    select a few details like the loan amount and your preferred
                    tenure, along with a few more steps. In case of any queries
                    you can seek assistance from ICICI Bank 24 x 7.
                  </p>
                </div>
              </div>
              <div class="media"></div>
            </div>

            <div
              id="MinimumDocuments"
              role="tabpanel"
              class="tab-pane benefits-content-inner media-content"
            >
              <div class="content">
                <div class="content">
                  <h3>Minimum documents</h3>
                  <p>
                    We have a minimal documentation process, which makes the
                    application process a breeze for all.
                  </p>
                </div>
              </div>
              <div class="media"></div>
            </div>

            <div
              id="FixedInterest"
              role="tabpanel"
              class="tab-pane benefits-content-inner media-content"
            >
              <div class="content">
                <div class="content">
                  <h3>Fixed Interest</h3>
                  <p>
                    The interest rates for ICICI Bank Personal Loans are
                    calculated, basis fixed interest rates and not floating
                    interest rates, so the interests do not vary for the entire
                    loan tenure.
                  </p>
                </div>
              </div>
              <div class="media"></div>
            </div>

            <div
              id="NoCollateralNeeded"
              role="tabpanel"
              class="tab-pane benefits-content-inner media-content"
            >
              <div class="content">
                <div class="content">
                  <h3>No collateral needed</h3>
                  <p>
                    For Personal Loans, we don’t ask for any collateral or
                    security.
                  </p>
                </div>
              </div>
              <div class="media"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-----------------
<div class="stepstoapply">
  <div class="step-to-apply-section">
    <div class="orange-bg">
      <div class="section-inner step-to-apply-note">
        <div class="content wow fadeInUp" style="visibility: visible">
          <div class="desc">
            <div
              class="section-title wow fadeInUp text-left"
              style="visibility: visible"
            >
              <h2 class="section-title" style="visibility: visible">
                <strong>How to apply</strong> for a Personal Loan online?
              </h2>
            </div>

            <div class="list">
              <div class="icon">
                <img
                  loading="lazy"
                  src="/content/dam/icicibank/icici-assets/personal-banking/pan-card.png"
                  alt="pan-card"
                />
              </div>
              <div class="text">
                <h5></h5>
                <p></p>
                <h5>
                  Check if you have a pre-approved offer
                  <a
                    target="_blank"
                    href="https://icicibank.onelink.me/htzW/PAPersonalLoans?ITM=nli_mccm_fd_hpdesktop_fdrateincreasespeakers_investinanfdnow_btn&amp;ntb_id=NTB_278568759&amp;fed_id=4072356984&amp;segment=ICICIRPB"
                    >here</a
                  >
                </h5>
                <p>
                  If you don’t, visit our personal loan application form
                  <a
                    target="_blank"
                    href="https://buy.icicibank.com/ucj/personal?ius=KMOU29843KM&amp;iup=PL852452&amp;ITM=nli_cms_PL_linktext_applysection_plindex_availnowbtn&amp;_gl=1*1j26ixa*_ga*MTI3MjU5ODIwMC4xNjUxOTIwODc0*_ga_SKB78GHTFV*MTY1NTkxMzczMy4xOTguMS4xNjU1OTE1MzEyLjYw"
                    >here</a
                  >
                </p>
                <p></p>
              </div>
            </div>

            <div class="list">
              <div class="icon">
                <img
                  loading="lazy"
                  src="/content/dam/icicibank/icici-assets/personal-banking/required-document.png"
                  alt="basic-info"
                />
              </div>
              <div class="text">
                <h5>
                  Fill and submit your Personal Loan application and check your
                  eligibility
                </h5>
                <p>Select Loan amount and tenure, as per your requirement</p>
              </div>
            </div>

            <div class="list">
              <div class="icon">
                <img
                  loading="lazy"
                  src="/content/dam/icicibank/icici-assets/personal-banking/required-document.png"
                  alt=" Check your Personal Loan approval status"
                />
              </div>
              <div class="text">
                <h5>Check your Personal Loan approval status</h5>
                <p>
                  Personal Loan for approved application, will be disbursed in
                  your Savings Account
                </p>
              </div>
            </div>

            <div class="button-group">
              <p></p>
            </div>
          </div>
          <div class="media">
            <div class="white-bg note-content">
              <p class="mb-3"><strong></strong></p>
              <h2><strong>Personal Loan Eligibility Criteria</strong></h2>
              <p></p>
              <div class="list-style-disc">
                <div>
                  <div>
                    <p class="mb-3">
                      <b>To apply for a Personal Loan, you must be</b>
                    </p>
                    <div class="list-style-disc">
                      <ul>
                        <li>Over 21 years old and a resident of India</li>
                        <li>
                          Salaried individual, having a regular monthly income.
                        </li>
                        <li>Having a good bureau score</li>
                        <li>
                          Having a Savings Account with any of the banks in
                          India
                        </li>
                      </ul>
                      <br />
                      <div>
                        &nbsp; &nbsp;<a
                          class="ic-btn"
                          style="margin-top: 10px"
                          href="https://buy.icicibank.com/ucj/personal?ius=KMOU29843KM&amp;iup=PL852452&amp;ITM=nli_cms_PL_applysectioncCTA_plindex_availnowbtn"
                          target="_blank"
                          >APPLY PERSONAL LOAN NOW</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
