<p>education-loan works!</p>

<div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
  <div class="subnavigationauthor aem-GridColumn aem-GridColumn--default--12">
    <div class="breadcrumb-nav sticky">
      <div class="section-inner">
        <div class="section">
          <ul
            class="nav nav-tabs nav-links justify-content-center"
            role="tablist"
          >
            <li class="active">
              <a href="#">Education Loan</a>
            </li>

            <li>
              <a
                href="/personal-banking/loans/education-loan/benefits-and-features"
              >
                Benefits and features</a
              >
            </li>

            <li>
              <a
                href="/personal-banking/loans/education-loan/tax-benefit-calculator"
                target="_self"
              >
                Tax Benefit Calculator</a
              >
            </li>

            <li>
              <a
                href="/personal-banking/loans/education-loan/insta-education-loan"
                >PRE-APPROVED EDUCATION LOAN</a
              >
            </li>

            <li id="more-link" class="nav-dropdown">
              <a>More</a>
            </li>
          </ul>
        </div>
        <div id="dropdown-more-link" class="nav-dropdown-content">
          <ul>
            <li>
              <a
                href="/personal-banking/faq/loan/education-loan-faqs"
                target="_self"
                >FAQ's</a
              >
            </li>

            <li>
              <a
                href="/personal-banking/loans/education-loan/refer-a-friend"
                target="_self"
                >Refer a friend</a
              >
            </li>

            <li>
              <a
                href="/personal-banking/loans/education-loan/courses-expenses-covered"
                target="_self"
                >Courses and expenses covered</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div
    class="bannerwithtextctaimagevideo aem-GridColumn aem-GridColumn--default--12"
  >
    <div class="section banner-component">
      <div class="section-inner">
        <div class="banner-slider">
          <div class="banner-slide banner-img img-align-left">
            <div class="banner-list">
              <div class="banner-list-inner">
                <div class="content">
                  <div class="blue-text bannerwithtext">
                    <h1 class="blue-text">Education Loan</h1>
                  </div>
                  <p></p>
                  <p>
                    Going abroad for higher studies? Or there’s a course that is
                    domestic and expensive? Whatever be your reason for higher
                    studies, it’s understood that higher education is often very
                    expensive, with the rising cost of education. But that
                    shouldn’t stop you!
                  </p>
                  <p>
                    We, at ICICI Bank, understand about your career aspirations
                    and offer the needed Student Loans, for successfully aiding
                    your journey to higher education. Getting an Education Loan
                    through ICICI Bank is an easy and simple process. We aim at
                    providing financial support for aspiring students, for
                    pursuing professional higher education in India and
                    overseas.
                  </p>

                  <p></p>
                  <div class="button-group">
                    <a
                      href="https://loans.icicibank.com/loans/education-loan/#/EducationLoan/LandingPage"
                      target="_blank"
                      id="getCallBackPopup"
                      data-app="https://loans.icicibank.com/loans/education-loan/#/EducationLoan/LandingPage"
                      data-app-android="https://loans.icicibank.com/loans/education-loan/#/EducationLoan/LandingPage"
                      data-app-ios="https://loans.icicibank.com/loans/education-loan/#/EducationLoan/LandingPage"
                      class="ic-btn deeplinking"
                      >AVAIL EDUCATION LOAN NOW</a
                    >
                  </div>
                </div>

                <div class="media">
                  <div
                    class="media-list slick-initialized slick-slider slick-dotted"
                  >
                    <div class="slick-list draggable">
                      <div
                        class="slick-track"
                        style="
                          opacity: 1;
                          width: 610px;
                          transform: translate3d(0px, 0px, 0px);
                        "
                      >
                        <div
                          class="media-list-inner slick-slide slick-current slick-active"
                          data-slick-index="0"
                          aria-hidden="false"
                          tabindex="0"
                          role="tabpanel"
                          id="slick-slide00"
                          aria-describedby="slick-slide-control00"
                          style="width: 610px"
                        >
                          <a
                            href="https://loans.icicibank.com/loans/education-loan/#/EducationLoan/LandingPage"
                            tabindex="0"
                            ><img
                              class="d-img"
                              src="/content/dam/icicibank/icici-assets/personal-banking/believe-it-or-not-ur-el-is-just-few-d.jpg"
                              alt="ismart-education-planss"
                          /></a>

                          <a
                            href="https://loans.icicibank.com/loans/education-loan/#/EducationLoan/LandingPage"
                            tabindex="0"
                            ><img
                              class="m-img"
                              src="/content/dam/icicibank/icici-assets/personal-banking/believe-it-or-not-ur-el-is-just-few-d.jpg"
                              alt="ismart-education-planss"
                          /></a>
                        </div>
                      </div>
                    </div>
                    <ul class="slick-dots" role="tablist">
                      <li class="slick-active" role="presentation">
                        <button
                          type="button"
                          role="tab"
                          id="slick-slide-control00"
                          aria-controls="slick-slide00"
                          aria-label="1 of 1"
                          tabindex="0"
                          aria-selected="true"
                        >
                          1
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="eligibilityprivileges aem-GridColumn aem-GridColumn--default--12">
    <div
      class="eligibility-documentation-component eligibility-documentation-component-full-width-tabs-detail-discription orange-bg"
    >
      <div class="section-inner">
        <div class="eligibility-documentation-wrapper">
          <div
            class="eligibility-documentation-full-width-tabs-detail-discription eligibility-documentation-common"
          >
            <div class="additional-content-tab">
              <div class="nav-links-scroll">
                <ul class="nav nav-tabs nav-links" role="tablist">
                  <li class="active">
                    <a href="#1" data-toggle="tab"
                      >EDUCATION LOAN INTEREST RATE</a
                    >
                  </li>

                  <li><a href="#2" data-toggle="tab">ELIGIBILITY</a></li>

                  <li><a href="#3" data-toggle="tab">DOCUMENTS REQUIRED</a></li>

                  <li><a href="#4" data-toggle="tab">E-NACH</a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="1">
                  <div class="info"></div>
                  <div class="detail">
                    <div class="tab-pane active" id="interestrate">
                      <div class="info">
                        <h2 style="font-size: 18px">
                          Education Loan Interest Rate
                        </h2>
                      </div>
                      <div class="detail">
                        <div class="table-scroll-wrapper">
                          <table border="1">
                            <thead>
                              <tr>
                                <th style="padding: 8px">Interest Rate</th>
                                <th style="padding: 8px">Information</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td style="padding: 8px">9.85%&nbsp;onwards</td>
                                <td style="padding: 8px">
                                  For courses in India: Up to Rs 1 Crore<br />
                                  For courses abroad: Up to Rs 2 Crore
                                </td>
                              </tr>
                              <tr>
                                <td colspan="2">
                                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                  Unsecured Loan Amount – Up to Rs&nbsp;1 Crore
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="2">
                  <div class="info"></div>
                  <div class="detail">
                    <div class="tab-pane" id="eligibility">
                      <div class="info">
                        <h2 style="font-size: 18px">
                          Education Loan eligibility
                        </h2>
                      </div>
                      <div class="detail">
                        <div class="table-scroll-wrapper">
                          <table border="1">
                            <thead>
                              <tr>
                                <th style="padding: 8px">Particulars</th>
                                <th style="padding: 8px">Eligibility</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td style="padding: 8px">Nationality</td>
                                <td style="padding: 8px">Indian</td>
                              </tr>
                              <tr>
                                <td style="padding: 8px">Age</td>
                                <td style="padding: 8px">
                                  Minimum- 16 years Maximum- 35 years
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 8px">Academic record</td>
                                <td style="padding: 8px">Proven - good</td>
                              </tr>
                              <tr>
                                <td style="padding: 8px">Qualification</td>
                                <td style="padding: 8px">
                                  Completed 10+2 (12th Standard)/Diploma
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 8px">For Pursuing</td>
                                <td style="padding: 8px">
                                  Graduation /Postgraduate Degree or a PG
                                  diploma in professional Education.
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 8px">
                                  University Applied to
                                </td>
                                <td style="padding: 8px">
                                  Listed,Recognized and Accredited Institutes in
                                  India and Overseas&nbsp;&nbsp;
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 8px">
                                  Loan can be sanctioned on the basis of
                                </td>
                                <td style="padding: 8px">
                                  <ul>
                                    <li>Pre- admission sanction</li>
                                    <li>
                                      Entrance exam score like GRE,GMAT etc.
                                    </li>
                                    <li>12<sup>th</sup>/HSC Results</li>
                                    <li>Confirmed Admission</li>
                                  </ul>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 8px">Loan Amount</td>
                                <td style="padding: 8px">
                                  <p>Domestic – Upto Rs 1 crore</p>
                                  <p>International – Upto Rs 2 crore</p>
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 8px">Co-borrower</td>
                                <td style="padding: 8px">
                                  Father, Mother, Brother, Sister, Spouse
                                  (Husband/Wife), Grand Parents, Parents in law,
                                  Brother in law, Maternal/Paternal Uncle.
                                </td>
                              </tr>
                              <tr>
                                <td style="padding: 8px">Security</td>
                                <td style="padding: 8px">
                                  Property i.e. House or Flat, FD –Fixed
                                  Deposit, Existing ICICI Bank Home Loan for
                                  cross collateral.
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="3">
                  <div class="info"></div>
                  <div class="detail">
                    <div class="tab-pane active" id="drequired">
                      <div class="info">
                        <h2 style="font-size: 18px">Required Documents</h2>
                      </div>
                      <div class="detail">
                        <p>
                          Here are the mandatory documents that a student need
                          to provide to the banks while applying for a student
                          loan:
                        </p>
                        <ul>
                          <li>Duly filled online iLENS application form</li>
                          <li>2 photographs of passport size</li>
                          <li>
                            Copy of exam mark sheets of 10th/12th or latest
                            education certificate
                          </li>
                          <li>
                            Admission letter with cost of education if available
                          </li>
                          <li>
                            Aadhaar Card and Pan Card of the student and Parent/
                            Guardian
                          </li>
                        </ul>
                        <p><b style="font-size: 18px">Age proof</b></p>
                        <p>
                          Copy of Aadhaar Card /Voter ID/Passport/Driving
                          License
                        </p>
                        <p><b style="font-size: 18px">Identity proof</b></p>
                        <p>
                          Copy of Voter ID/Aadhaar Card/Driving License/Passport
                        </p>
                        <p><b style="font-size: 18px">Residence proof</b></p>
                        <ul>
                          <li>Passport</li>
                          <li>
                            Driving License issued by Regional Transport
                            Authority
                          </li>
                          <li>
                            Voter's Identity Card issued by the Election
                            Commission of India
                          </li>
                          <li>
                            Job card issued by NREGA signed by State Government
                            Officer
                          </li>
                          <li>
                            Letter from National Population Register containing
                            details of name and address
                          </li>
                          <li>
                            Proof of possession of complete AADHAR number/AADHAR
                            Card
                          </li>
                        </ul>
                        <p><b style="font-size: 18px">Income proof</b></p>
                        <ul>
                          <li>
                            Most recent salary slips and Form 16 of the parent/
                            guardian/co-borrower
                          </li>
                          <li>
                            3 months bank statement of the borrower or updated
                            passbook of bank
                          </li>
                          <li>
                            Updated ITR (Income Tax Return with income
                            computation) of 2 years or IT assessment order of
                            last 2 years of parent/co-borrower/guardian
                          </li>
                          <li>
                            Documents stating the assets and liabilities of the
                            parent/co-borrower/guardian
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="4">
                  <div class="info"></div>
                  <div class="detail">
                    <div class="detail">
                      <p>
                        The NACH e-Mandate system facilitates the issuance and
                        confirmation of mandates made by customers through
                        alternate modes to a paper-based mandate.
                      </p>
                      <p>
                        <b>Note:</b> The mandate will be routed by the
                        destination bank, after due authentication, to the
                        sponsor bank or by corporate through their sponsor bank
                        to the destination bank with the attributes of customer
                        authentication depending upon the variant of e-Mandate.
                      </p>
                      <p>
                        To create e-mandate,<a target="_blank"> </a
                        ><a
                          href="https://leads.icicibank.com/NewSalesWeb/loadNpciEnachForm.htm?productCode=CF&amp;_gl=1*1ujc01d*_ga*MTI3MjU5ODIwMC4xNjUxOTIwODc0*_ga_SKB78GHTFV*MTY1NTc5MjM3MS4xODguMS4xNjU1ODAwMTEyLjYw"
                          >https://leads.icicibank.com/NewSalesWeb/loadNpciEnachForm.htm?productCode=CF</a
                        >
                      </p>
                      <p>
                        To track the status of e-Mandate&nbsp;<a
                          href="https://leads.icicibank.com/NewSalesWeb/loadenachTracker.htm"
                          target="_blank"
                          >https://leads.icicibank.com/NewSalesWeb/loadenachTracker.htm</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="eligibilityprivileges aem-GridColumn aem-GridColumn--default--12">
    <div class="eligibility-documentation-component white-bg">
      <div class="section-inner">
        <div class="eligibility-details-list-only">
          <div class="eligibility-documentation-component white-bg center">
            <div>
              <div>
                <h4 style="text-align: center">Institutes</h4>
                <br />
                <div style="text-align: center">
                  <table style="text-align: center; width: 100%">
                    <tbody>
                      <tr>
                        <td
                          style="
                            border: none;
                            padding: 10px;
                            text-align: center;
                          "
                        >
                          <a
                            href="https://www.icicibank.com/disclaimer/personal-banking/loans/insead"
                            target="_blank"
                          >
                            <img
                              src="/content/dam/icicibank/icici-assets/personal-banking/insead-logo.png"
                              alt="insead"
                              height="100"
                          /></a>
                        </td>
                        <td
                          style="
                            border: none;
                            padding: 10px;
                            text-align: center;
                          "
                        >
                          <a
                            class="modal-launcher"
                            href="https://www.icicibank.com/disclaimer/personal-banking/loans/esade"
                            target="_blank"
                            ><img
                              src="/content/dam/icicibank/icici-assets/personal-banking/esade-logo.jpg"
                              alt="esade"
                              height="100"
                          /></a>
                        </td>
                        <td
                          style="
                            border: none;
                            padding: 10px;
                            text-align: center;
                          "
                        >
                          <a
                            class="modal-launcher"
                            href="https://www.icicibank.com/disclaimer/personal-banking/loans/hec-paris"
                            target="_blank"
                            ><img
                              src="/content/dam/icicibank/icici-assets/personal-banking/hec-paris-logo.png"
                              alt="hec-paris"
                              height="100"
                          /></a>
                        </td>
                        <td
                          style="
                            border: none;
                            padding: 10px;
                            text-align: center;
                          "
                        >
                          <a
                            class="modal-launcher"
                            href="https://www.icicibank.com/disclaimer/personal-banking/loans/lbs"
                            target="_blank"
                            ><img
                              src="/content/dam/icicibank/icici-assets/personal-banking/lbs-logo.jpg"
                              alt="lbs"
                              height="100"
                          /></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="benefitCarousel aem-GridColumn aem-GridColumn--default--12">
    <div class="benefit-card-section">
      <div class="blue-bg">
        <div class="section-inner">
          <div class="section-title">
            <h4 style="color: rgb(255, 255, 255)">
              Why ICICI Bank for <b>Education Loan?</b><br />
            </h4>
          </div>
          <div
            class="benefit-itsa-cards benefit-itsa-carousel white-bg slick-initialized slick-slider"
          >
            <button
              class="slick-prev slick-arrow"
              aria-label="Previous"
              type="button"
              style=""
            >
              Previous
            </button>

            <div class="slick-list draggable">
              <div
                class="slick-track"
                style="
                  opacity: 1;
                  width: 5490px;
                  transform: translate3d(-1220px, 0px, 0px);
                "
              >
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="-4"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/managed-assets/docs/personal/cards/itsa-icon-2%20(2).svg"
                  />
                  <p>Bundled Products offering for Canada, UK, Germany</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="-3"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-2.svg"
                    alt="itsa-icon-2"
                  />
                  <p>No Margin for Premium institutes</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="-2"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-3.svg"
                    alt="itsa-icon-3"
                  />
                  <p>No Branch visits / Complete digital journey</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="-1"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-1.svg"
                    alt="itsa-icon-1"
                  />
                  <p>Pre-admission sanction</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-current slick-active"
                  data-slick-index="0"
                  aria-hidden="false"
                  tabindex="0"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-1.svg"
                    alt="itsa-icon-1"
                  />
                  <p>
                    Collateral free loan up to Rs 1 Crore for premium institutes
                  </p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-active"
                  data-slick-index="1"
                  aria-hidden="false"
                  tabindex="0"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-1%20(1).svg"
                  />
                  <p>
                    Loans up to Rs 2 Crore for international studies &amp; Rs 1
                    Crore for domestic
                  </p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-active"
                  data-slick-index="2"
                  aria-hidden="false"
                  tabindex="0"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-1%20(1).svg"
                    alt="itsa-icon-2"
                  />
                  <p>
                    Special Product offering for Government employees, CXOs and
                    professional with 3 Years Work Experience
                  </p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-active"
                  data-slick-index="3"
                  aria-hidden="false"
                  tabindex="0"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/managed-assets/docs/personal/cards/itsa-icon-2%20(2).svg"
                  />
                  <p>Bundled Products offering for Canada, UK, Germany</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide"
                  data-slick-index="4"
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-2.svg"
                    alt="itsa-icon-2"
                  />
                  <p>No Margin for Premium institutes</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide"
                  data-slick-index="5"
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-3.svg"
                    alt="itsa-icon-3"
                  />
                  <p>No Branch visits / Complete digital journey</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide"
                  data-slick-index="6"
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-1.svg"
                    alt="itsa-icon-1"
                  />
                  <p>Pre-admission sanction</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="7"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-1.svg"
                    alt="itsa-icon-1"
                  />
                  <p>
                    Collateral free loan up to Rs 1 Crore for premium institutes
                  </p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="8"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-1%20(1).svg"
                  />
                  <p>
                    Loans up to Rs 2 Crore for international studies &amp; Rs 1
                    Crore for domestic
                  </p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="9"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-1%20(1).svg"
                    alt="itsa-icon-2"
                  />
                  <p>
                    Special Product offering for Government employees, CXOs and
                    professional with 3 Years Work Experience
                  </p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="10"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/managed-assets/docs/personal/cards/itsa-icon-2%20(2).svg"
                  />
                  <p>Bundled Products offering for Canada, UK, Germany</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="11"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-2.svg"
                    alt="itsa-icon-2"
                  />
                  <p>No Margin for Premium institutes</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="12"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-3.svg"
                    alt="itsa-icon-3"
                  />
                  <p>No Branch visits / Complete digital journey</p>
                </div>
                <div
                  class="benefit-itsa-card slick-slide slick-cloned"
                  data-slick-index="13"
                  id=""
                  aria-hidden="true"
                  tabindex="-1"
                  style="width: 305px"
                >
                  <img
                    src="/content/dam/icicibank/icici-assets/personal-banking/itsa-icon-1.svg"
                    alt="itsa-icon-1"
                  />
                  <p>Pre-admission sanction</p>
                </div>
              </div>
            </div>

            <button
              class="slick-next slick-arrow"
              aria-label="Next"
              type="button"
              style=""
            >
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="howitworks aem-GridColumn aem-GridColumn--default--12">
    <div class="how-it-works-component grey-bg">
      <div class="section-inner">
        <div class="how-it-works-wrapper">
          <div class="section-title">
            <strong><h4 class="section-title">HOW TO APPLY</h4> </strong>
            <span style="font-size: 15px"
              ><p>
                ICICI BANK PRESENTS EDUCATION LOANS UP TO RS 1 CRORE FOR YOUR
                EDUCATIONAL REQUIREMENTS IN INDIA AND UP TO RS 2 CRORES FOR
                OVERSEAS.
              </p>
            </span>
          </div>
          <div class="how-it-works-two-cta how-it-works-single-card">
            <div class="white-card-wrapper">
              <div class="how-it-works-card">
                <div class="how-it-works-card-inner">
                  <div class="icon-wrapper">
                    <span>
                      <a href="#"
                        ><img
                          loading="lazy"
                          src="/content/dam/icicibank/icici-assets/personal-banking/login.png"
                          alt="ICICI Bank branch"
                      /></a>
                    </span>
                  </div>
                  <div class="content-wrapper">
                    <a href="#">
                      <h5>ICICI Bank branch</h5>
                      <p>
                        Visit the nearest ICICI Bank branch, fill the form and
                        get started with your loan approval process.
                      </p>
                    </a>
                  </div>
                </div>

                <div class="how-it-works-card-inner">
                  <div class="icon-wrapper">
                    <span>
                      <a href="#"
                        ><img
                          loading="lazy"
                          src="/content/dam/icicibank/icici-assets/personal-banking/call_customer_casre.png"
                          alt="Apply online"
                      /></a>
                    </span>
                  </div>
                  <div class="content-wrapper">
                    <a href="#">
                      <h5>Apply online:</h5>
                      <p>
                        Loans offered for: Domestic institutes/ international
                        institutes. Courses covered: Under Graduate/ Post
                        Graduate
                      </p>
                    </a>
                  </div>
                </div>

                <div class="how-it-works-card-inner">
                  <div class="icon-wrapper">
                    <span>
                      <a href="#"
                        ><img
                          loading="lazy"
                          src="/content/dam/icicibank/icici-assets/personal-banking/give_missed_call.png"
                          alt="VidyaLakshmi portal"
                      /></a>
                    </span>
                  </div>
                  <div class="content-wrapper">
                    <a href="#">
                      <h5>VidyaLakshmi portal</h5>
                      <p>
                        To apply for Education Loans through the VidyaLakshmi
                        portal, please click here
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-content-wrapper">
              <ul>
                <li>Terms and Conditions applied</li>
              </ul>
            </div>
            <div class="button-group">
              <a
                href="#"
                data-app="#"
                data-app-android="#"
                data-app-ios="#"
                class="ic-btn deeplinking"
                >KNOW MORE</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="customHTML aem-GridColumn aem-GridColumn--default--12">
    <style>
      .benefit-itsa-cards.benefit-itsa-carousel.white-bg {
        display: flex;
        flex-direction: row;
      }
      .benefit-itsa-card {
        margin: auto;
      }
    </style>
  </div>
  <div class="customHTML aem-GridColumn aem-GridColumn--default--12">
    <style>
      @media screen and (max-width: 767px) {
        .button-group {
          text-align: center !important;
        }
      }
    </style>
  </div>
</div>
