<section class="container">
  <div
    class="bannerwithtextctaimagevideo aem-GridColumn aem-GridColumn--default--12"
  >
    <div class="section banner-component">
      <div class="section-inner">
        <div class="banner-slider">
          <div class="banner-slide banner-img img-align-left">
            <div class="banner-list">
              <div class="banner-list-inner">
                <div class="content">
                  <div class="blue-text bannerwithtext">
                    <h1 class="blue-text">
                      Loans - One Stop Solutions for All Your Financial Needs
                    </h1>
                  </div>
                  <p></p>
                  <p>
                    Build the house you have been thinking of. Buy the car of
                    your dreams. Take that long-pending vacation. Get your
                    children enrolled in the top schools. Do all this and more
                    with loans from ICICI Bank. We offer a wide variety of loans
                    to suit each one of your requirements. Take a look at the
                    products we offer and see for yourself how versatile our
                    range of loans is.
                  </p>

                  <p></p>
                  <div class="button-group">
                    <a
                      href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.210912477.950371642.1678429725-1643020487.1678429725"
                      target="_blank"
                      id="getCallBackPopup"
                      data-app="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.210912477.950371642.1678429725-1643020487.1678429725"
                      data-app-android="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.210912477.950371642.1678429725-1643020487.1678429725"
                      data-app-ios="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.210912477.950371642.1678429725-1643020487.1678429725"
                      class="ic-btn deeplinking"
                      >APPLY NOW</a
                    >
                  </div>
                </div>

                <div class="media">
                  <div
                    class="media-list slick-initialized slick-slider slick-dotted"
                  >
                    <div class="slick-list draggable">
                      <div
                        class="slick-track"
                        style="
                          opacity: 1;
                          width: 1830px;
                          transform: translate3d(-1220px, 0px, 0px);
                        "
                      >
                        <div
                          class="media-list-inner slick-slide"
                          data-slick-index="0"
                          aria-hidden="true"
                          tabindex="-1"
                          role="tabpanel"
                          id="slick-slide00"
                          aria-describedby="slick-slide-control00"
                          style="width: 610px"
                        >
                          <a
                            href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.210912477.950371642.1678429725-1643020487.1678429725"
                            tabindex="-1"
                            ><img
                              class="d-img"
                              src="/content/dam/icicibank/icici-assets/personal-banking/stand-up-india-scheme-d1.jpg"
                              alt="Loans - One Stop Solutions for All Your Financial Needs"
                          /></a>

                          <a
                            href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.210912477.950371642.1678429725-1643020487.1678429725"
                            tabindex="-1"
                            ><img
                              class="m-img"
                              src="/content/dam/icicibank/icici-assets/personal-banking/stand-up-india-scheme-d1.jpg"
                              alt="Loans - One Stop Solutions for All Your Financial Needs"
                          /></a>
                        </div>
                        <div
                          class="media-list-inner slick-slide"
                          data-slick-index="1"
                          aria-hidden="true"
                          tabindex="-1"
                          role="tabpanel"
                          id="slick-slide01"
                          aria-describedby="slick-slide-control01"
                          style="width: 610px"
                        >
                          <a
                            href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.210912477.950371642.1678429725-1643020487.1678429725"
                            tabindex="-1"
                            ><img
                              class="d-img"
                              src="/content/dam/icicibank/icici-assets/personal-banking/hl-top-up-vacation-D1.jpg"
                              alt="Loans - One Stop Solutions for All Your Financial Needs"
                          /></a>

                          <a
                            href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.210912477.950371642.1678429725-1643020487.1678429725"
                            tabindex="-1"
                            ><img
                              class="m-img"
                              src="/content/dam/icicibank/icici-assets/personal-banking/hl-top-up-vacation-D1.jpg"
                              alt="Loans - One Stop Solutions for All Your Financial Needs"
                          /></a>
                        </div>
                        <div
                          class="media-list-inner slick-slide slick-current slick-active"
                          data-slick-index="2"
                          aria-hidden="false"
                          tabindex="0"
                          role="tabpanel"
                          id="slick-slide02"
                          aria-describedby="slick-slide-control02"
                          style="width: 610px"
                        >
                          <a
                            href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.210912477.950371642.1678429725-1643020487.1678429725"
                            tabindex="0"
                            ><img
                              class="d-img"
                              src="/content/dam/icicibank/icici-assets/personal-banking/personal-loans-d1.jpg"
                              alt="Loans - One Stop Solutions for All Your Financial Needs"
                          /></a>

                          <a
                            href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.210912477.950371642.1678429725-1643020487.1678429725"
                            tabindex="0"
                            ><img
                              class="m-img"
                              src="/content/dam/icicibank/icici-assets/personal-banking/personal-loans-d1.jpg"
                              alt="Loans - One Stop Solutions for All Your Financial Needs"
                          /></a>
                        </div>
                      </div>
                    </div>

                    <ul class="slick-dots" style="" role="tablist">
                      <li class="" role="presentation">
                        <button
                          type="button"
                          role="tab"
                          id="slick-slide-control00"
                          aria-controls="slick-slide00"
                          aria-label="1 of 3"
                          tabindex="-1"
                        >
                          1
                        </button>
                      </li>
                      <li role="presentation" class="">
                        <button
                          type="button"
                          role="tab"
                          id="slick-slide-control01"
                          aria-controls="slick-slide01"
                          aria-label="2 of 3"
                          tabindex="-1"
                        >
                          2
                        </button>
                      </li>
                      <li role="presentation" class="slick-active">
                        <button
                          type="button"
                          role="tab"
                          id="slick-slide-control02"
                          aria-controls="slick-slide02"
                          aria-label="3 of 3"
                          tabindex="0"
                          aria-selected="true"
                        >
                          3
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <br />
</section>

<section class="container">
  <div itemprop="text">
    <h3>&nbsp;</h3>
    <h3 style="font-size: 25px">
      <a
        href="/content/dam/icicibank/managed-assets/docs/personal/loans/gss-scheme-list.pdf"
        >Government Sponsored Schemes</a
      >
    </h3>
    <div>
      <p>
        ICICI Bank offer loan towards income generating activities under various
        schemes launched by central and state government.
      </p>
      <p>
        Under these schemes, the applicant can avail the Bank loan to start its
        own business, which will help improve their livelihood and uplift their
        standard of living.
      </p>
      <p>
        In few schemes, the rate of interest is specified by the Government,
        while the other schemes are offered at interest rates in keeping with
        the Bank’s pricing policy*.&nbsp;Various charges levied by the Bank are
        as follows:
      </p>
      <br />
      <p>Interest rates, Charges and Fees</p>
      <br />
      <div>
        <div class="eligibility-details-list-only" style="text-align: center">
          <table class="container m-100 text-center" width="100%">
            <thead>
              <tr>
                <th style="width: 428px; text-align: center">
                  Nature of charges
                </th>
                <th style="text-align: center">Details</th>
              </tr>
              <tr>
                <td>
                  <p style="text-align: center">
                    Processing Fee while disbursing loan above Rs 25,000
                  </p>
                </td>
                <td>
                  <p style="text-align: center">
                    2% (plus applicable taxes) of the loan amount
                  </p>
                </td>
              </tr>
              <tr>
                <td><p style="text-align: center">* Interest rate p.a.</p></td>
                <td><p style="text-align: center">Fixed rate of 16.75%</p></td>
              </tr>
              <tr>
                <td>
                  <p style="text-align: center">
                    Stamp duty and other statutory charges
                  </p>
                </td>
                <td>
                  <p style="text-align: center">
                    As per applicable laws of the State
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <p style="text-align: center">
                    CGTMSE^ Fee while disbursing the loan
                  </p>
                </td>
                <td>
                  <p style="text-align: center">
                    As per CGTMSE fee tax invoice
                  </p>
                </td>
              </tr>
              <tr>
                <td><p style="text-align: center">Foreclosure fee</p></td>
                <td><p style="text-align: center">Nil</p></td>
              </tr>
              <tr>
                <td>
                  <p style="text-align: center">
                    Bouncing charges applicable on non-servicing of Interest on
                    or before due date
                  </p>
                </td>
                <td><p style="text-align: center">Nil</p></td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
      <br />
      <p>
        ^CGTMSE: Credit Guarantee Fund Trust for Micro and Small Enterprises
      </p>
      <br />
      <p>Penalty Charges</p>
      <div>
        <div class="eligibility-details-list-only" style="text-align: center">
          <table class="custom-table m-100 text-center" width="100%">
            <tbody>
              <tr>
                <th style="width: 428px; text-align: center">
                  Nature of charges
                </th>
                <th style="text-align: center">Details</th>
              </tr>
              <tr>
                <td>
                  <p style="text-align: center">
                    Penalty Interest for delayed payments
                  </p>
                </td>
                <td><p style="text-align: center">Nil</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p>&nbsp;</p>
      <p>
        The applicant may approach the respective sponsoring agencies to avail
        the loan under these schemes.
      </p>
      <p style="font-size: 11px">Terms and Conditions apply.</p>
      <p>&nbsp;</p>
      <div class="product-overview-links clearfix">
        <a
          class="ic-btn"
          href="/content/dam/icicibank/managed-assets/docs/personal/loans/gss-scheme-list.pdf"
          target="_blank"
          >Know more</a
        >
      </div>
      <p>&nbsp;</p>
      <div class="product-overview-links">
        <input type="hidden" class="item-identifier" />&nbsp;
      </div>
    </div>
  </div>
</section>
